<a href="{{ url('store_cart_view') }}" data-fc-modules="minicart" class="cart-nav ph-m mb-n button{% if cart.totalItemNumber > 0 %}-ok{% else %}-secondary{% endif %}" title="{{ cart.amount|print_convert_money() }}">
    <i class="icon-shopping-cart"></i> <span class="js-cart-items">{{ cart.totalItemNumber }}</span>
</a>