{% if products|length > 0 %}
<div class="product-related">
    <div class="grid">
        <div class="col-1-1">
            <h2 class="product-title">{{ "template.BlueDay_bundle.product.also_like"|trans }}</h2>
            {% include "@BlueDayTemplate/Modules/_product-list.html.twig" with {'products' : products} %}
        </div>
    </div>
</div>
{% endif %}
