.foot {
	.logo {
		& {
			font-family: $font-face-logo;
			background: contrast-color($color-primary);
			color: $color-primary;
			padding: $spacing/4 $spacing/2;
			display: inline-block;
			text-transform: uppercase;
			font-size: $font-size-xxl !important;
		}
		&:hover {
			background: $color-link;
			color: contrast-color($color-link);
			text-decoration: none;
		}
	}
}

.footer-social {
	a {
		& {
			background: $color-primary;
			display: inline-block;
			border-radius: 50%;
			padding: $spacing/4;
			min-width: $spacing*1.2;
			color: contrast-color($color-primary);
			text-align: center;
		}
		&:hover {
			background: $color-link;
			color: contrast-color($color-link);
			text-decoration: none;
		}
	}

}