body {
	padding-top: 82px;
}

.header {
	& {
		padding: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 0;
		position: relative;
		z-index: 200;
		text-align: left;
		border-bottom: $spacing/2 solid $color-primary;
	}
	.box-background {
		padding: 1px;
	}
	.navigation {
		& {
			position: absolute;
			bottom: 0;
			width: 100%;
		}
		ul {
			text-align: center;
			@extend .grid;
		}
	}
	.cart-nav {
		& {
			float: right;
		}
	}
	.logo {
		& {
			color: $color-primary;
			display: inline-block;
			font-weight: bold;
			padding: $spacing/4 0 0 0;
			text-transform: uppercase;
			font-size: $font-size-xxl !important;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.fz-h1 {
		display: none;
	}
}


@mixin header-desktop {
	body {
		padding-top: 0;
	}
	.header {
		& {
			text-align: left;
			padding-bottom: 3.1rem;
			margin-bottom: $spacing;
			border-bottom: 0px none;
		}
		.buttons-group {
			& {
				position: fixed;
				right: $spacing/2;
				z-index: 200;
				padding: 2px;
				margin-top: -2px;
				background: $color-background;
			}

		}
		.box-background {
			padding: $spacing/2;
		}
		.navigation.desktop {
			& {
				background: rgba($color-primary, .8);
			}
			ul {
				text-align: left;
			}
		}
		&.home {
			& {
				min-height: 600px;
			}
			.fz-h1 {
				width: 100%;
				text-align: center;
				display: block;
				font-size: 4rem !important;
				text-shadow: 1px 1px $color-foreground;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				max-width: map-get($grid-custom, container-width);
			}
			.navigation.desktop {
				ul {
					text-align: center;
				}
				a {
					font-size: $font-size-l;
				}
			}
		}
		.logo {
			margin-left: 0;
		}
	}
}